.card {
    position: relative;
    display: flex;
    width: 100px;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid #d2d2dc;
    border-radius: 11px;
    -webkit-box-shadow: 0px 0px 5px 0px rgb(249, 249, 250);
    -moz-box-shadow: 0px 0px 5px 0px rgba(212, 182, 212, 1);
    box-shadow: 0px 0px 5px 0px rgb(161, 163, 164)
}

.card .card-body {
    padding: 1rem 1rem
}

.card-body {
    flex: 1 1 auto;
    padding: 1.25rem;
    border-radius: 20px !important;
}

.logo {
    height: 67px
}

.items {
    width: 90%;
    margin: 0px auto;
    margin-top: 250px
}

.slick-slide {
    margin: 10px
}

